#u536{box-shadow:0px 8px 9px rgba(0,0,0,0.21);background-color:#221B34;}#u536_align_to_page,#u475_align_to_page{max-width:375px;}#u149,#u178{background-color:transparent;}#u147,#u176{display:block;}#u475,#u463{background-color:#E6E7E8;}